<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <!-- 试题以及答案 -->
<mapper namespace="cn.osbullshit.learner.java.dao.QuestionAndAnswerDao">
	<!-- 分页加载试题 -->
	<select id="listQuestionAndAnswers" parameterType="map"
		resultType="cn.osbullshit.learner.java.pojo.QuestionAndAnswerBean">
		
		select * from tb_learner_qAndA where sortNum between #{start} and #{end} and language = #{language} order by  sortNum
	
	</select>
	
	<!-- 加载单个试题 -->
	<select id="getQuestionAndAnswer" parameterType="string"
		resultType="cn.osbullshit.learner.java.pojo.QuestionAndAnswerBean">
		
		select * from tb_learner_qAndA where id = #{id}
	
	</select>
	
	<select id="getMaxNum" parameterType="string" resultType="int">
		select max(sortNum) from tb_learner_qAndA where language = #{language}
	</select>
</mapper>